
//general Font
$font-family: 'Open Sans';
//Project Colors
$color-grey-a: #656565;
$color-grey-b: #E4E4E4;
$color-black: #000000;
$color-grey-c: #9B9B9B;
$color-grey-d: #B4B4B4;
$color-white: #ffffff;
$ruler: 	#E8E8E8;
$color-grey-e: #1D1D1D;

// Media queries for responsiveness
$mobile: 700px;
$desktop: 820px;
$mobile-only: only screen and (max-width: 1024px);
$tablet-down: only screen and (min-width: 1025px);
$desktop-only: only screen and (min-device-width: 1200px) and (max-device-width: 1600px);
$mobile-and-up: only screen and (min-width: 767px);
$mobile-and-down: only screen and (max-width: 375px);
$tablet: only  screen and (min-width: 768px) and (max-width: 1024px);
$ipad-pro-only: only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5);